---
- name: Wait for vsphere-csi-controller Deployment to be fully rolled out and available
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: vsphere-csi-controller
    namespace: vmware-csi
    kubeconfig: "{{ kube_config_file }}"
  register: csi_deployment
  until: >
    csi_deployment.resources | length > 0 and
    csi_deployment.resources[0].status is defined and
    csi_deployment.resources[0].status.replicas is defined and
    csi_deployment.resources[0].status.availableReplicas is defined and
    csi_deployment.resources[0].status.updatedReplicas is defined and
    csi_deployment.resources[0].status.replicas == csi_deployment.resources[0].status.availableReplicas and
    csi_deployment.resources[0].status.replicas == csi_deployment.resources[0].status.updatedReplicas
  retries: 360
  delay: 5
  delegate_to: localhost

- name: Wait for vsphere-csi DaemonSet to be fully rolled out and available
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: DaemonSet
    name: vsphere-csi
    namespace: vmware-csi
    kubeconfig: "{{ kube_config_file }}"
  register: csi_daemonset
  until: >
    csi_daemonset.resources | length > 0 and
    csi_daemonset.resources[0].status is defined and
    csi_daemonset.resources[0].status.desiredNumberScheduled is defined and
    csi_daemonset.resources[0].status.numberAvailable is defined and
    csi_daemonset.resources[0].status.numberReady is defined and
    csi_daemonset.resources[0].status.updatedNumberScheduled is defined and
    csi_daemonset.resources[0].status.desiredNumberScheduled == csi_daemonset.resources[0].status.numberAvailable and
    csi_daemonset.resources[0].status.desiredNumberScheduled == csi_daemonset.resources[0].status.numberReady and
    csi_daemonset.resources[0].status.desiredNumberScheduled == csi_daemonset.resources[0].status.updatedNumberScheduled
  retries: 360
  delay: 5
  delegate_to: localhost
